defaults
  maxconn 20000
  mode    tcp
  option  dontlognull
  timeout http-request 10s
  timeout queue        1m
  timeout connect      10s
  timeout client       86400s
  timeout server       86400s
  timeout tunnel       86400s

frontend k8s-api
  bind *:443
  mode tcp
  default_backend k8s-api

backend k8s-api
   mode tcp
   balance roundrobin
   option httpchk GET /readyz HTTP/1.0
   http-check expect status 200
   default-server verify none check-ssl on-marked-down shutdown-sessions
   server cp_node1 {{ hostvars[groups['cp_nodes'][0]]['ansible_default_ipv4']['address'] }}:6444
